body {
  background-color: #999999;
  font-family: helvetica,Arial,sans-seri;

}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
    background-color: #FFE6E6;
}

#wrapper2{grid-column: span 12;}


header{grid-column: span 12;
font-family: helvetica,Arial,sans-serif;
padding: 0;
margin: 0;
}

img {grid-column: span 12;
padding-left:300px;

}
#mainimg{grid-column: span 12;
margin-left: 220px;
}
#instaimg{grid-column: span 12;
margin-left: 220px;}


nav{grid-column: span 12;}
nav ul { list-style: none;}
nav li a {color: #654007;
  font-family: helvetica,Arial,sans-seri;
  font-size: 20px; text transform: uppercase;
  font-weight: bold;
  text-decoration: none;transition: color 1s;
}

ul {grid-column: span 12;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  padding: 24px;
  padding-left: 130px;
}
nav li a:hover {
color: #735a96;
text-decoration: underline;

}

main{grid-column: span 11;
  font-family: helvetica,Arial,sans-seri;
  padding-left: 130px;padding-top: 30px;padding-bottom: : 30px;padding-top: 10px;
margin-bottom: 10px;
}
footer {grid-column: span 12;
}
footer a {color: black;  font-size: 50px;  text-decoration: none;
padding-left: 550px;}
footer a:hover{color: #735a96;text-decoration: none;}

.textcenter {
text-align: center;
color: black;
font-weight: bold;
text-shadow: 1px 1px 2px #000;
}
.bordertop {
  border-top: 3px solid #000000;
  margin-top: 20px; padding: 20px;
}
iframe{grid-column: span 12; padding-left: 0px;
  padding-top:36px;
}
.roundedbox {
  padding: 10px;
  width: 750px;
  border: 5px solid #999;
  font-weight: bold;
    border-radius: 10px;
font-family: 'Lobster', cursive;
  margin-left: 90px;
}
a{color: black;
  text-decoration: none;transition: color 1s;
}
a:hover{color: #735a96;
text-decoration: underline;}


p1{ text-shadow: 2px 2px 2px #000;
font-family: 'Lobster', cursive;}

.display{  display: grid;
  grid-template-columns: 1fr 1fr;}
